@import url('https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans&display=swap');

/*
    font-family: 'Nunito', sans-serif;

    font-family: 'Nunito Sans', sans-serif;
*/

body{
    background: #eff1f4ff;
}

#navbar-site-title{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    padding-left: 1.2%;
}

.son-form-field{
    border-radius: 9px;
    border-width: 1px;
    border-color: #bacad6ff;
    box-shadow: 0px 1px 2px rgba(164,164,164,0.2);
    color: #000;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.son-form-field::placeholder{
    color: #c4c8ccff;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

#navbar-search-form{
    width: 350px;
}

#navbar-search-field{
    width: 100%;
}

#navbar-profile img{
    border-radius: 50%;
    width: 12%;
}

#navbar-profile span{
    padding-left: 4%;
    color: #262d37ff;
    font-family: 'Nunito', sans-serif;
}

#son-navbar{
    background-color: #fff;
    box-shadow: 8px 2px 6px rgba(164, 164, 164, 0.3);
}